@import "reset";

// MIXINS
@mixin flexbox {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	// font-size: 0;
}

%flexbox {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}


@mixin justify-content($space) {
	justify-content: $space;
}

@mixin align-items-center {
	align-items: center;
}

$container-width: 955px;

// FONTS
@font-face {
  font-family: 'MuseoSans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSans 900';
  src: url('../fonts/MuseoSansCyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Natasha';
  src: url('../fonts/Natasha.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// body

body {
	font-family: 'Natasha', sans-serif;
	font-size: 15px;
	color: #22241b;
}

a {
	color: #fff;
}

// Header

.container {
	width: $container-width;
	margin: 0 auto;
}

.header {
	height: 1300px;
	background: #ccc url('../img/background.jpg') no-repeat center top / cover;
	padding: 40px 0 82px 0;
	color: #fff;
	text-transform: uppercase;
	&__row {
		// @include flexbox;
		@extend %flexbox;
		@include align-items-center;
		@include justify-content(space-between);
	}
	&__logo {
		// @include flexbox;
		@extend %flexbox;
		@include align-items-center;
		letter-spacing: 2.04px;
		line-height: 48px;
		font-size: 17px;

	}
	&__logo_small {
		font-family: 'MuseoSans 100';
		font-weight: 400;
	}
	&__logo_big {
		font-family: 'MuseoSans 900';
		
		
	}
	&__email {
		font-family: 'MuseoSans 300';
		font-size: 13px;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 1.56px;
		text-transform: none;
	}
}

.nav {
	font-family: 'MuseoSans 900';
	color: #fff;
	&__list {
		// @include flexbox;
		width: 325px;
		@extend %flexbox;
		@include justify-content(space-between);
		letter-spacing: 1.8px;
	}
	&__item {
	}
}




















