@import "reset";

// MIXINS

// PLACEHOLDERS
%flexbox {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

%align-items-center {
	align-items: center;
}

%justify-content-space-between {
	justify-content: space-between;
}

// VARIABLES
$container-width: 955px;

// SPECIFICATION
a {
	color: #fff;
}

// FONTS
@font-face {
	font-family: 'MuseoSans 100';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'MuseoSans 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'MuseoSans 900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Natasha';
	src: url('../fonts/Natasha.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/Natasha.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/Natasha.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../fonts/Natasha.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/Natasha.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

// body
body {
	font-family: 'Natasha', sans-serif;
	font-size: 15px;
	color: #22241b;
}

// Header
.container {
	width: 955px;
	margin: 0 auto;
}

.container__top {
	// width: 939px;
}

.header {
	background: #ccc url('../img/background.jpg') no-repeat center;
	padding: 40px 0 82px 0;
	color: #fff;
	text-transform: uppercase;

	&__row {
		padding-top: 50px;
		@extend %flexbox;
		@extend %align-items-center;
		@extend %justify-content-space-between;
	}

	&__logo {
		@extend %flexbox;
		@extend %align-items-center;
		letter-spacing: 2.04px;
		line-height: 48px;
		font-size: 17px;
	}

	&__logo_small {
		font-family: 'MuseoSans 100';
		font-weight: 400;
	}

	&__logo_big {
		font-family: 'MuseoSans 900';
	}

	&__email {
		font-family: 'MuseoSans 300';
		font-size: 13px;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 1.56px;
		text-transform: none;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 135px;
			height: 1px;
			background-color: #fff;
			margin-top: -13px;
		}
	}
}

.nav {
	font-family: 'MuseoSans 900';
	color: #fff;

	&__list {
		margin-left: 15px;
		width: 325px;
		@extend %flexbox;
		@extend %justify-content-space-between;
		letter-spacing: 1.8px;
	}
}

.header {
	&__title {
		margin-top: 278px;
		color: #ffffff;
		font-size: 49px;
		font-weight: 400;
		line-height: 55px;
		text-transform: uppercase;
		letter-spacing: 5.9px;
		text-align: center;
	}

	&__subtitle {
		margin-top: 15px;
		color: #ffffff;
		font-family: 'MuseoSans 100';
		font-size: 29px;
		letter-spacing: 3.48px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 260px;
	}

	&__circle {
		margin: 0 auto;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: #fff solid 1px;
		text-align: center;
		padding-top: 14px;
		display: block;
		font-size: 18px;
	}
}

// Section About

.about {
	padding-top: 80px;
	padding-left: 10px;
	font-family: 'MuseoSans 300';
	margin-bottom: 61px;

	&__row {
		@extend %flexbox;
	}

	&_title {
		margin-bottom: 44px;
	}

	&__background {
		max-width: 432px;
	}

	&__subtitle {
		margin-bottom: 19px;
	}

	&__text {
		color: #000;
		font-family: 'MuseoSans 300';
		font-size: 15px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0.3px;
		margin-bottom: 25px;
	}

	&__text:nth-child(2) {
		margin-bottom: 26px;
	}

	&_text:last-child {
		margin-bottom: 0;
	}

	&__merit-contact {
		margin-left: 40px;
	}
}

.title {
	color: #000;
	font-family: Natasha;
	font-size: 37px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 4.44px;
}

.subtitle {
	color: #949591;
	font-family: Natasha;
	font-size: 22px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 2.64px;
}

.merit {
	&__row {
		@extend %flexbox;
		@extend %justify-content-space-between;
		width: 425px;
		margin-left: 23px;
	}

	&__subtitle {
		margin-bottom: 40px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__cubic {
		width: 73px;
		height: 73px;
		border: 1px solid #000;
		transform: rotate(45deg);
	}

	&__cubic_small {
		margin: 8px auto;
		width: 57px;
		height: 57px;
		border: 1px solid #c6d6bb;
	}

	&__num {
		text-align: center;
		color: #204d15;
		font-family: 'MuseoSans 100';
		font-size: 20px;
		font-weight: 400;
		line-height: 55px;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		transform: rotate(-45deg);
	}

	&__text {
		width: 105px;
		margin-top: 36px;
		color: #22241b;
		font-family: 'MuseoSans 100';
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.24px;
		text-align: center;
		margin-bottom: 50px;

	}
}

.contact {
	&__subtitle {
		margin-bottom: 15px;
	}

	&__row {
		@extend %flexbox;
		@extend %justify-content-space-between;
		align-items: center;

	}

	&__list {
		color: #22241b;
		font-family: 'MuseoSans 300';
		display: flex;
		flex-direction: column;
	}

	&__link {
		color: #22241b;
		font-family: 'MuseoSans 300';
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 1.56px;
		text-transform: none;
		margin-bottom: 14px;

		&:nth-child(1):after {
			content: "";
			display: block;
			position: absolute;
			width: 166px;
			height: 1px;
			background-color: #22241b;
		}

		&:nth-child(2):after {
			content: "";
			display: block;
			position: absolute;
			width: 107px;
			height: 1px;
			background-color: #22241b;
		}

		&:nth-child(3):after {
			content: "";
			display: block;
			position: absolute;
			width: 132px;
			height: 1px;
			background-color: #22241b;
		}

	}

	&__write {
		@extend %flexbox;
		align-items: center;
	}

	&__circle {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background-color: #edf1ec;
		border: #edf1ec solid 1px;
		text-align: center;
		padding-top: 14px;
		display: block;

	}

	&__icon {
		height: 26px;
		width: 22px;
	}

	&__text {
		color: #22241b;
		font-family: 'MuseoSans 300';
		font-size: 14px;
		font-weight: 400;
		line-height: 55px;
		letter-spacing: 0.28px;
	}
}

// Section SKILLS

.skills {
	padding-left: 5px;
	margin-bottom: 75px;
}

.skills {
	&__title {
		margin-bottom: 45px;
	}

	&__item-row {
		margin-left: 5px;
		@extend %flexbox;
		// @extend %justify-content-space-between;
		align-items: center;
	}

	&__item {
		width: 204px;
		@extend %flexbox;
		// @extend %justify-content-space-between;
		align-items: center;
		margin-left: 30px;

		&:nth-child(1) {
			margin-left: 0;
		}
	}

	&__circle {
		&_big {
			width: 61px;
			height: 61px;
			border-radius: 50%;
			border: #000 solid 1px;
			text-align: center;
			display: block;

		}

		&_small {
			margin: 4px auto;
			width: 51px;
			height: 51px;
			border-radius: 50%;
			border: #000 solid 1px;
			text-align: center;
			display: block;
			color: #204d15;
			font-family: "MuseoSans 100";
			font-size: 13px;
			font-weight: 400;
			line-height: 55px;
			text-transform: uppercase;
			letter-spacing: 1.56px;
		}
	}

	&__text {
		margin-left: 25px;
		color: #22241b;
		font-family: 'MuseoSans 900';
		font-size: 15px;
		font-weight: 400;
		line-height: 55px;
		text-transform: uppercase;
		letter-spacing: 1.8px;
	}
}

.works {
	margin-bottom: 100px;


	&__title {
		margin-bottom: 45px;
	}

	&__row {
		@extend %flexbox;
		@extend %justify-content-space-between;
		align-items: center;
		margin-left: 5px;
	}

	&__item {
		width: 300px;
	}

	&__wrap {
		position: relative;
	}

	&__overlay {
		opacity: 0;
		background: rgba($color: #000000, $alpha: 0.64);
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend %flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
		font-family: "MuseoSans 900";
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.3px;

		&:hover {
			opacity: 1;
		}
	}

	&__link {
		font-family: "MuseoSans 300";
		font-size: 13px;
		font-weight: 400;
		line-height: 2.55;
		letter-spacing: 0.26px;
		// text-align: center;
		// display: block;
		text-transform: none;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 61px;
			height: 1px;
			background-color: #fff;
			// margin-left: 120px;
			// margin-top: -5px;
		}
	}
}

.footer {

	&__text {
		margin-left: 5px;
		color: #22241b;
		font-family: "MuseoSans 300";
		font-size: 11px;
		font-weight: 400;
		line-height: 5;
		text-transform: uppercase;
		letter-spacing: 1.54px;
	}
}

// Media Queries

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	.container {
		width: 700px;
	} 

	.works__item {
		width: 30%;
	}
	.works__image {
		width: 100%;
	}

	.about__row {
		flex-direction: column;
	}

	.about__background {
		min-width: 100%;
	}

	.about__merit-contact {
		margin: 0 auto;
	}
}

// 577-768
@media screen and (max-width: 768px) {

	.container .container__top {
		width: 520px;
	}

	.header {
		display: flex;
		padding: 0 0 20px 0;
	}

	.header__row {
		flex-direction: column;
	}

	.header__logo {
		line-height: 1;
		padding-top: 10px;
		margin-bottom: 20px;
	}

	.container {
		width: 520px;
	}

	.skills__item {
		margin-left: 0;
		margin-bottom: 20px;
	}

	.skills__item-row {
		flex-direction: column;
	}

	.works__overlay {
		font-size: 10px;
	}

	.footer__text {
		text-align: center;
	}

	.title {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}
}

// 320-576
@media screen and (max-width: 576px) {
	.container {
		width: 320px;
	}

	.works__row {
		flex-direction: column;
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header__email {
		margin: 0 auto;
	}

	.nav__item {
		margin-bottom: 10px;
	}

	.merit__row {
		flex-direction: column;
		width: 100%;
		margin-left: 0;
	}

	.contact__row {
		flex-direction: column;
	}

	.contact__write {
		display: flex;
		flex-direction: column;
	}

	.works__item {
		width: 80%;
		margin-bottom: 10px;
	}


}
