@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

.skills__item, .skills__item-row, .contact__write, .contact__row, .merit__row, .about__row, .nav__list, .header__logo, .header__row {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header__logo, .header__row {
	align-items: center;
}

.contact__row, .merit__row, .nav__list, .header__row {
	justify-content: space-between;
}

a {
	color: #fff;
}

@font-face {
	font-family: "MuseoSans 100";
	src: url("../fonts/MuseoSansCyrl-100.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-100.svg#svgFontName") format("svg");
	/* Legacy iOS */
}
@font-face {
	font-family: "MuseoSans 300";
	src: url("../fonts/MuseoSansCyrl-300.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-300.svg#svgFontName") format("svg");
	/* Legacy iOS */
}
@font-face {
	font-family: "MuseoSans 900";
	src: url("../fonts/MuseoSansCyrl-900.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-900.svg#svgFontName") format("svg");
	/* Legacy iOS */
}
@font-face {
	font-family: "Natasha";
	src: url("../fonts/Natasha.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/Natasha.eot?#iefix") format("embedded-opentype"), url("../fonts/Natasha.woff2") format("woff2"), url("../fonts/Natasha.woff") format("woff"), url("../fonts/Natasha.ttf") format("truetype"), url("../fonts/Natasha.svg#svgFontName") format("svg");
	/* Legacy iOS */
}
body {
	font-family: "Natasha", sans-serif;
	font-size: 15px;
	color: #22241b;
}

.container {
	width: 955px;
	margin: 0 auto;
}

.container__top {
	width: 939px;
}

.header {
	background: #ccc url("../img/background.jpg") no-repeat center;
	padding: 40px 0 82px 0;
	color: #fff;
	text-transform: uppercase;
}
.header__logo {
	letter-spacing: 2.04px;
	line-height: 48px;
	font-size: 17px;
}
.header__logo_small {
	font-family: "MuseoSans 100";
	font-weight: 400;
}
.header__logo_big {
	font-family: "MuseoSans 900";
}
.header__email {
	font-family: "MuseoSans 300";
	font-size: 13px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 1.56px;
	text-transform: none;
}
.header__email:after {
	content: "";
	display: block;
	position: absolute;
	width: 135px;
	height: 1px;
	background-color: #fff;
	margin-top: -13px;
}

.nav {
	font-family: "MuseoSans 900";
	color: #fff;
}
.nav__list {
	margin-left: 15px;
	width: 325px;
	letter-spacing: 1.8px;
}

.header__title {
	margin-top: 278px;
	color: #ffffff;
	font-size: 49px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 5.9px;
	text-align: center;
}
.header__subtitle {
	margin-top: 15px;
	color: #ffffff;
	font-family: "MuseoSans 100";
	font-size: 29px;
	letter-spacing: 3.48px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 260px;
}
.header__circle {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: #fff solid 1px;
	text-align: center;
	padding-top: 14px;
	display: block;
	font-size: 18px;
}

.about {
	padding-top: 80px;
	padding-left: 10px;
	font-family: "MuseoSans 300";
	margin-bottom: 61px;
}
.about_title {
	margin-bottom: 44px;
}
.about__background {
	max-width: 432px;
}
.about__subtitle {
	margin-bottom: 19px;
}
.about__text {
	color: #000;
	font-family: "MuseoSans 300";
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.3px;
	margin-bottom: 25px;
}
.about__text:nth-child(2) {
	margin-bottom: 26px;
}
.about_text:last-child {
	margin-bottom: 0;
}
.about__merit-contact {
	margin-left: 40px;
}
.title {
	color: #000;
	font-family: Natasha;
	font-size: 37px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 4.44px;
}

.subtitle {
	color: #949591;
	font-family: Natasha;
	font-size: 22px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 2.64px;
}

.merit__row {
	width: 425px;
	margin-left: 23px;
}
.merit__subtitle {
	margin-bottom: 40px;
}
.merit__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.merit__cubic {
	width: 73px;
	height: 73px;
	border: 1px solid #000;
	transform: rotate(45deg);
}
.merit__cubic_small {
	margin: 8px auto;
	width: 57px;
	height: 57px;
	border: 1px solid #c6d6bb;
}
.merit__num {
	text-align: center;
	color: #204d15;
	font-family: "MuseoSans 100";
	font-size: 20px;
	font-weight: 400;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	transform: rotate(-45deg);
}
.merit__text {
	width: 105px;
	margin-top: 36px;
	color: #22241b;
	font-family: "MuseoSans 100";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.24px;
	text-align: center;
	margin-bottom: 50px;
}

.contact__subtitle {
	margin-bottom: 15px;
}
.contact__row {
	align-items: center;
}
.contact__list {
	color: #22241b;
	font-family: "MuseoSans 300";
	display: flex;
	flex-direction: column;
}
.contact__link {
	color: #22241b;
	font-family: "MuseoSans 300";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1.56px;
	text-transform: none;
	margin-bottom: 14px;
}
.contact__link:nth-child(1):after {
	content: "";
	display: block;
	position: absolute;
	width: 166px;
	height: 1px;
	background-color: #22241b;
}
.contact__link:nth-child(2):after {
	content: "";
	display: block;
	position: absolute;
	width: 107px;
	height: 1px;
	background-color: #22241b;
}
.contact__link:nth-child(3):after {
	content: "";
	display: block;
	position: absolute;
	width: 132px;
	height: 1px;
	background-color: #22241b;
}
.contact__write {
	align-items: center;
}
.contact__circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #edf1ec;
	border: #edf1ec solid 1px;
	text-align: center;
	padding-top: 14px;
	display: block;
}
.contact__icon {
	height: 26px;
	width: 22px;
}
.contact__text {
	color: #22241b;
	font-family: "MuseoSans 300";
	font-size: 14px;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 0.28px;
}

.skills {
	padding-left: 5px;
	margin-bottom: 70px;
}

.skills__item-row {
	align-items: center;
}
.skills__item {
	width: 204px;
	align-items: center;
}
.skills__circle_big {
	width: 61px;
	height: 61px;
	border-radius: 50%;
	border: #000 solid 1px;
	text-align: center;
	display: block;
}
.skills__circle_small {
	margin: 5px auto;
	width: 51px;
	height: 51px;
	border-radius: 50%;
	border: #000 solid 1px;
	text-align: center;
	padding-top: 17px;
	display: block;
}