// @import '../css/normalize.css';
@import './reset';

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	background: url('../img/background.jpg') no-repeat center center/cover;
	height: 800px;
	padding: 40px 60px;

	// .header__logo
	&__logo {
	}
	// .header__logo-img
	&__logo-img {
		display: block;
		margin: 0 auto;
		margin-bottom: 14px;
	}
	// .header__logo-text
	&__logo-text {
		color: #ffffff;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
	}
	// .header__title
	&__title {
		color: #f9bf3b;
		font-family: 'Roboto - Black';
		font-size: 41px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 15px;
	}
	// .header__simple
	&__simple {
	}
	// .header__simple-big
	&__simple-big {
		color: #ffffff;
		font-size: 80px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
	}
	// .header__simple-line
	&__simple-line {
	}
	// .header__text
	&__text {
		text-align: center;
		color: #ffffff;
		font-size: 21px;
		font-weight: 100;
		line-height: 28px;
		margin-bottom: 70px;
		& span {
			color: #f9bf3b;
			font-weight: 700;
		}
	}
	// .header__button
	&__button {
		margin-top: 70px;
		width: 313px;
		height: 72px;
		box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
		border: 4px solid rgba(0, 0, 0, 0.23);
		background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
		margin: 0 auto;
		font-size: 21px;
		font-weight: 100;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0;
		margin-bottom: 70px;
	}
	&__button-link {
		color: #fff;
	}
	// .header__more
	&__more {
	}
	// .header__more-text
	&__more-text {
		color: #ffffff;
		font-family: 'Roboto - Thin';
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 13px;
	}
	// .header__more-arrow
	&__more-arrow {
		display: block;
		margin: 0 auto;
	}
}

.features {
	padding: 85px 75px;
	// .features__title
	&__title {
		color: #252525;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 17px;
	}
	// .features__line
	&__line {
		width: 217px;
		height: 4px;
		background-color: #f9bf3b;
		margin: 0 auto;
		margin-bottom: 17px;
	}
	// .features__subtitle
	&__subtitle {
		text-align: center;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 23px;
		font-weight: 400;
		margin-bottom: 45px;
	}
	// .features__row
	&__row {
		display: flex;
		justify-content: space-between;
	}
	// .features__item
	&__item {
		width: 340px;
	}
	// .features__image
	&__image {
		width: 100%;
		margin-bottom: 33px;
	}
	// .features__descr
	&__descr {
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
	}
}
