@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: url("../img/background.jpg") no-repeat center center/cover;
  height: 800px;
  padding: 40px 60px;
}

.header__logo-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.header__logo-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.header__title {
  color: #f9bf3b;
  font-family: 'Roboto - Black';
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.header__simple-big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.header__text {
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 70px;
}

.header__text span {
  color: #f9bf3b;
  font-weight: 700;
}

.header__button {
  margin-top: 70px;
  width: 313px;
  height: 72px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  margin: 0 auto;
  font-size: 21px;
  font-weight: 100;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 70px;
}

.header__button-link {
  color: #fff;
}

.header__more-text {
  color: #ffffff;
  font-family: 'Roboto - Thin';
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 13px;
}

.header__more-arrow {
  display: block;
  margin: 0 auto;
}

.features {
  padding: 85px 75px;
}

.features__title {
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 17px;
}

.features__line {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-bottom: 17px;
}

.features__subtitle {
  text-align: center;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 45px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 340px;
}

.features__image {
  width: 100%;
  margin-bottom: 33px;
}

.features__descr {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
