
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}




/* ------ Specification ------ */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}


p {
	margin: 0;
    font-size: 14px;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.15em;
}

h2 {
	font-size: 28px;
	text-transform: none;
}

h3 {
	font-size: 19px;
	text-transform: none;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
	color: inherit;
	font-weight: inherit;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.align-items-base {
	align-items: baseline;
}

.btn {
	font-weight: 900;
	color: #fff;
	background: #000;
	font-size: 20px;
	width: 311px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 25px 0;
	box-shadow: 0 1px 54px rgba(0,0,0,0.2);
}

.btn:hover {
	box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

.btn:active {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}


/*Header*/

.logo {
	align-items: center;
}

.logo__font {
	width: 48px;
	height: 48px;
	background-color: #1b3bde;
	color: #fff;
	border-radius: 5px;
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
}

.logo__heading {
	color: #1b3bde;
	font-weight: 900;
	margin-left: 15px;
	text-transform: uppercase;
	line-height: 23.44px;
	min-width: 95px;
}

.logo__heading_small {
	font-size: 15px;
}

.logo__heading_big {
	font-size: 20px;
}

.nav {
	background-color: #fff;
	min-height: 87px;
}

.nav__list {
	font-size: 13px;
	color: #000;
}

.nav__item {
	padding: 10px 10px;
	margin: 0 15px;
}

.nav__item:hover {
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

.phone {
	font-size: 15px;
	font-weight: 900;
	align-items: flex-end;
	margin-left: 340px;
}

.phone i {
	margin-right: 10px;
}

.offer_bg {
	background: url('../img/first_bg.jpg') no-repeat center top / cover;
	padding: 95px 0 130px 0;
}

.offer__container {
	justify-content: space-around;
}

.offer__text {
	width: 535px;
	display: flex;
   flex-direction: column;
   align-items: center;
    /*margin-top: 20px;*/
}

.offer__subtext {
	font-size: 16px;
	line-height: 53px;
	margin-left: 5px;
}

.offer__text i {
	font-size: 16px;
}

.offer__header {
	/*margin-top: 30px;*/
	color: #1b3bde;
	font-size: 45px;
	text-transform: none;
	text-align: center;
	margin-bottom: 35px;
	line-height: 53px;
}

.offer__time {
	font-size: 14px;
	background-color: #000;
	color: #fff;
	padding: 7px 10px;
	width: 155px;
	text-align: center;
	border-radius: 3px;

}

.form {
	width: 330px;
	height: 415px;
	padding: 34px 30px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 1px 54px rgba(0,0,0,0.2);
	line-height: 21px;
}

.form__header {
	font-size: 17px;
	font-weight: 900;
	text-transform: none;
	margin-bottom: 14px;
}

.form__text {
	font-size: 14px;
	margin-bottom: 25px;
	letter-spacing: 0.02em;

}

.form__main {
	font-size: 13px;
}

.form__main input {
	min-width: 270px;
	margin-bottom: 10px;
	padding: 10px 0;
	border:none;
   border-bottom: 1px solid #b8b8b8;
}

input::-webkit-input-placeholder {
    color: #b8b8b8;
}

input:focus::-webkit-input-placeholder {
    color: #000;
/*	border-bottom: 1px solid #000;
	padding: 12px 0;*/
}

.form__button {
	margin-top: 10px;
	min-width: 270px;
	padding: 20px 0;
	background-color: #4acc4d;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	margin-bottom: 15px;
}

.form__sequrity {
	color: #b8b8b8;
	font-size: 12px;
}



/*Section kbowlege*/

.knowlege {
	padding: 125px 0 65px 0;
}

.author {
	background: #9d6bdc;
	color: #fff;
	width: 470px;
	height: 265px;
	border-radius: 5px;
	padding: 45px 0 48px 57px;
	box-shadow: 0 13px 98px rgba(0, 0, 0, 0.24);
}
.author__name {
	font-size: 18px;
	font-weight: 900;
	text-transform: none;
	margin-bottom: 19px;
}

.author__text {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 7px;
}

.author__digits {
	margin: 22px 0;
}

.author__element {

}

.author__icons {
	font-size: 39px;
	font-weight: 700;
	margin-right: 17px;
}

.author__descr {
	font-size: 13px;
	width: 73px;
	margin-right: 40px;
}

.author__descr_short {
	width: 40px;
}

.author__link {
	font-size: 14px;
}


/*section Money*/

.money {
	padding-bottom: 122px;
}

.question {
	width: 437px;
	padding: 72px 0 80px;
	margin-left: 135px;
	line-height: 23.56px;
}

.question_1 {
	margin-left: 98px;
}

.question__text {
	margin-top: 15px;
	font-size: 15px;
	line-height: 23.56px;
	letter-spacing: 0.3px;
}

.amount {
	width: 469px;
	height: 265px;
	box-shadow: 0 13px 98px rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	background-color: #f6e23a;
	margin-left: 103px;
	font-weight: 900;
	text-align: center;
	justify-content: center;
}

.amount__money {
	font-size: 43px;
	width: 130px;
}

.amount__money span {
	font-size: 21px;
	display: block;
	margin-top: 3px;
	font-weight: 400;

}


/* Section Works*/

.works {
	height: 490px;
	background: url("../img/first_bg.jpg") no-repeat center top / cover;
	padding: 104px 0;
}

.works__wrapper {
	/*justify-content: space-around;*/
}

.works__item {
	margin-right: 80px;
}

.works__item_third {
	margin-left: -25px;
}

.works__title {
	margin-bottom: 74px;
	line-height: 37px;
}

.works__icon {
	width: 82px;
	height: 82px;
	background-color: #1b3bde;
	border-radius: 5px;
	color: #fff;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-top: 25px;
}

.works__heading {
	width: 215px;
	color: #1b3bde;
	margin-left: 34px;
}

.works__text {
	/*width: 205px;*/
	margin-top: -4px;
	font-size: 15px;
	color: #000;
	margin-left: 117px;
	line-height: 1.3em;

}


/*Section Freelance*/

.freelance__wrapper {
	padding: 90px 0 100px 0;
}

.freelance__title {
	margin-bottom: 68px;
}

.freelance__item {
	width: 348px;
	height: 236px;
	box-shadow: 0 13px 98px rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	color: #fff;
	font-size: 19px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
}

.freelance__item_first {
	background-color: #4acc4d;
}

.freelance__item_second {
	background-color: #4ac7cc;
}

.freelance__item_third {
	background-color: #dc6b83;
}


.font_aw {
	font-size: 42px;
	margin-bottom: 20px;
}

.freelance__text {
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	line-height: 22px;
}


/*Section Book*/

.book {
	padding-bottom: 50px;
}

.offer__text_book {
	color: #fff;
	line-height: 37px;
   margin-right: -40px;
}

.container_book {
	background: url("../img/second_bg.jpg") no-repeat center top / cover;
	padding: 95px 0 115px 0;
}

.offer__header_book {
	text-transform: none;
	text-align: center;
	font-size: 28px;
	width: 564px;
}

.offer__time_book {
	margin-top: 33px;
	width: 300px;
	font-size: 16px;
	font-weight: 300;
	align-items: baseline;

}

.offer__time_book .fa {
	margin-right: 10px;
}

.fa-users {
	margin-left: 5px;
}

.form_book {
	/*padding-top: 40px;*/
}

.align {
	align-items: baseline;

}

/*Footer*/

.footer {
	padding: 20px 0;
}

.footer__logo {
	margin-right: 150px;
}

.footer__fa {
	padding-top: 5px;
}

.footer__text {
	width: 129px;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0.24px;	
}

.footer__phone {
	margin-left: 195px;
}








