/* ------ Specification ------ */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    /*line-height: 1.1em;*/
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.15em;
}

section {
	
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
	color: inherit;
	font-weight: inherit;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.btn {
	font-weight: 900;
	color: #fff;
	background: #000;
	font-size: 20px;
	width: 311px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 25px 0;
	box-shadow: 0 1px 54px rgba(0,0,0,0.2);
}

.btn:hover {
	box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

.btn:active {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}


/*Header*/

.logo__font {
	width: 48px;
	height: 48px;
	background-color: #1b3bde;
	color: #fff;
	border-radius: 5px;
	font-size: 25px;
	text-align: center;
	padding-top: 5px;
}

.logo__heading {
	color: #1b3bde;
	font-weight: 900;
	margin-left: 15px;
	text-transform: uppercase;
	/*margin-right: 80px;*/
	min-width: 95px;
}

.logo__heading_small {
	font-size: 15px;
}

.logo__heading_big {
	font-size: 20px;
}

.nav {
	background-color: #fff;
	min-height: 87px;
}

.nav__list {
	font-size: 13px;
	color: #000;
	font-weight: 400;
}

.nav__item {
	margin: 0 20px;
}

.nav__item:hover {
	padding: 5px 20px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

.phone {
	font-size: 15px;
	font-weight: 900;
	align-items: flex-end;
	margin-left: 340px;
}

.phone i {
	margin-right: 5px;
}

.offer {
	background: url(../img/first_bg.jpg) no-repeat center top / cover;
	padding: 95px 0 130px 0;
}

.offer__container {
	justify-content: space-around;
}

.offer__text {
	width: 535px;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.offer__text i {
	font-size: 16px;
}

.offer__header {
	/*margin-top: 30px;*/
	color: #1b3bde;
	font-size: 45px;
	text-transform: none;
	text-align: center;
	margin-bottom: 35px;
}

.offer__time {
	font-size: 14px;
	font-weight: 400;
	background-color: #000;
	color: #fff;
	padding: 5px 20px;
	width: 155px;
}

.form {
	width: 330px;
	height: 415px;
	padding: 32px 30px;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 1px 54px rgba(0,0,0,0.2);
}

.form__header {
	font-size: 17px;
	font-weight: 900;
	text-transform: none;
	margin-bottom: 18px;
}

.form__text {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 25px;
	letter-spacing: 0.02em;

}

.form__main {
	font-size: 13px;
	font-weight: 400;
}

.form__main input {
	min-width: 270px;
	margin-bottom: 10px;
	padding: 12px 0;
	border:none;
    border-bottom: 1px solid #b8b8b8;
}

input::-webkit-input-placeholder {
    color: #b8b8b8;
}

input:focus::-webkit-input-placeholder {
    color: #000;
/*	border-bottom: 1px solid #000;
	padding: 12px 0;*/
}

.form__button {
	margin-top: 10px;
	min-width: 270px;
	padding: 20px 0;
	background-color: #4acc4d;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	margin-bottom: 15px;
}

.form__sequrity {
	color: #b8b8b8;
	font-size: 12px;
	font-weight: 400;
}

























